*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #e7e9eb;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 328%;
    line-height: 1.13;
    font-weight: 400;
    margin-bottom: 24px;
}

h3 {
    color: #fd1c18;
    font-size: 128%;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
}

button {
    background: rgba(255, 245, 215, 0);
    font-weight: bold;
    border: 1.5px solid black;
    padding: 5px 15px;
    transition: all 0.2s ease;
}

button:hover {
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;
}

a {
    text-decoration: none;
}

.logo {
    width: 100px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    align-items: center;
    min-width: 100vw;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-image: url(../images/bg-header.jpg);
    padding: 15px;
    min-width: 100vw;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 5px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

/* контейнер меню */
.menu__box {
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 0;
    /* left: -100%; */
    /* width: 300px;
    height: 100%; */
    margin: 0;
    /* padding: 80px 0; */
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    /* font-size: 20px; */
    /* font-weight: 600; */
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.mainNav {
    position: absolute;
    top: 50px;
    right: 20px;
    transform: translateY(-50%);
}

.mainNav ul li {
    padding-right: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    line-height: 1.77;
    color: #221818;
    margin: 0 auto;
    flex-grow: 1;
    margin-top: 6.7%;
}

.ourStory {
    display: flex;
    max-width: 100%;
    background-image: url(../images/bg-wood.jpg);
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.ourStory p {
    max-width: 50%;
    font-weight: 400;
    color: white;
    text-align: center;
}

.content {
    background-image: url(../images/bg-texture.png);
    padding: 90px 0 0 0;
}

.content-middle {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.content img {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
}

.slider {
    min-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 14%;
}

.item2 {
    max-width: 325px;
}

.slider>img {
    margin-right: 250px;
}

.jaguar {
    min-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.item3 {
    max-width: 325px;
}

.jaguar button {
    margin-top: 25px;
}

.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

form input,
form textarea,
form button {
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    margin-bottom: 15px;
}

textarea {
    min-height: 200px;
}

input,
textarea {
    width: 500px;
    max-width: 500px;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.form button {
    font-size: 15px;
    margin-bottom: 35px;
    margin-top: -10px;
    padding: 5px 40px;
}

.footer {
    border-top: 1px solid #65abab;
    min-width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.logoFooter {
    width: 100px;
}

.footer .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    margin-left: 75px;
    padding-top: 5px;
    max-width: 16.5%;
}

.footer-contact strong,
button {
    text-transform: uppercase;
}

.footer-contact strong {
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
    margin-top: 5px;
}

.footer-contact p {
    text-align: center;
}

.footer-contact button {
    font-weight: bold;
    border: 1.5px solid red;
    padding: 0 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.social-networks {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social-networks a {
    width: 50px;
    height: 50px;
    background: #232f3f;
    border-radius: 50%;
    color: #d9cbc2;
    margin: 0 4px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.social-networks a:hover {
    background: #000;
    color: white;
}

@media (min-width: 1024px) and (max-width: 1440px) {

    .header,
    .wrapper,
    .main {
        max-width: 100vw;
    }

    .ourStory {
        font-size: 18px;
        padding: 50px 15px 30px 15px;
    }

    .slider,
    .jaguar,
    .content-middle {
        min-width: 100vw;
    }

    .slider,
    .jaguar {
        min-width: 100vw;
    }

    body {
        font-size: 20px;
    }

    input[type~="text"],
    input[type~="email"],
    input[type~="tel"],
    textarea {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {

    .slider,
    .jaguar,
    .content-middle {
        min-width: 100vw;
    }

    body {
        font-size: 22px;
    }

    input[type~="text"],
    input[type~="email"],
    input[type~="tel"],
    textarea {
        font-size: 22px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-contact p {
        min-width: 250px;
    }

    .slider,
    .jaguar {
        min-width: 100vw;
    }

    body {
        font-size: 20px;
    }

    input[type~="text"],
    input[type~="email"],
    input[type~="tel"],
    textarea {
        font-size: 20px;
    }

    .ourStory {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .ourStory p {
        max-width: 100vw;
        padding: 0 20px;
        font-size: 22px;
    }

    .jaguar button {
        margin-left: 75px;
    }

}

@media (min-width: 320px) and (max-width: 768px) {
    .footer-contact p {
        min-width: 250px;
    }

    .slider,
    .jaguar {
        min-width: 100vw;
    }

    .header,
    .wrapper,
    .main,
    .content-middle,
    .content,
    form,
    input[type~="text"],
    input[type~="email"],
    input[type~="tel"],
    textarea,
    footer {
        max-width: 100vw;
    }

    .item4 {
        order: -1;
    }

    .social-networks a {
        width: 25px;
        height: 25px;
        margin: 0 4px;
    }

    .logoFooter {
        width: 50px;
    }

    .footer-contact {
        font-size: 12px;
    }

    .footer-contact p {
        min-width: 100px;
    }

    .footer-contact {
        margin: 0;
    }

    .ourStory {
        padding-top: 100px;
        padding-bottom: 40px;
    }

}