table {
  border-spacing: 0px;
  border: 1px solid black;
  margin: 10px;
}

/* tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: fle;
} */

td {
  text-align: center;
  /* width: 30px;
  height: 25px; */
  border: 1px solid black;
  background-color: #99cc00;
}

input,
button,
label {
  margin: 10px;
}

thead td {
  background-color: #808000;
  padding: 10px;
}

label {
  margin-right: 35px;
  margin-left: 37px;
}
